form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 200px;
    font-family: Arial, sans-serif; /* Aplica Arial a todo el contenido del formulario */
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Hace que los títulos de los inputs estén en negrita */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}
button[type="button"] { /* Estilo para el botón de cancelar */
    background-color: #f44336;
    color: white;
    margin-left: 10px;
}